.grid-item {
  width: 80px;
  height: 60px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width:  160px; }
.grid-item--width3 { width:  240px; }

.grid-item--height2 { height: 100px; }
.grid-item--height3 { height: 140px; }
.grid-item--height4 { height: 180px; }

.grid-item--gigante {
  width: 240px;
  height: 180px;
  background: #F90;
  z-index: 2; /* keep it above other items */
}


.grid-item{
width: 80px;
    height: 60px;
    float: left;
    background: #D26;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
}