<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script>
	// see:
// http://ejohn.org/blog/javascript-micro-templating/

// Simple JavaScript Templating
// John Resig - http://ejohn.org/ - MIT Licensed
(function(){
  var cache = {};

  this.tmpl = function tmpl(str, data){
    // Figure out if we're getting a template, or if we need to
    // load the template - and be sure to cache the result.
    var fn = !/\W/.test(str) ?
      cache[str] = cache[str] ||
        tmpl(document.getElementById(str).innerHTML) :

      // Generate a reusable function that will serve as a template
      // generator (and which will be cached).
      new Function("obj",
        "var p=[],print=function(){p.push.apply(p,arguments);};" +

        // Introduce the data as local variables using with(){}
        "with(obj){p.push('" +

        // Convert the template into pure JavaScript
        str
          .replace(/[\r\t\n]/g, " ")
          .split("<%").join("\t")
          .replace(/((^|%>)[^\t]*)'/g, "$1\r")
          .replace(/\t=(.*?)%>/g, "',$1,'")
          .split("\t").join("');")
          .split("%>").join("p.push('")
          .split("\r").join("\\'")
      + "');}return p.join('');");

    // Provide some basic currying to the user
    return data ? fn( data ) : fn;
  };
})();


// Demo data.
$(function(){

  var dataObject = {
    members:[
    {id:1, name:"Vasja", text:   "ok"},
    {id:9, name:"Petja", text:   "ok"},
    {id:15, name:"Max", text:  "fail"},
    {id:22, name:"Mike", text:  "ok"},
    {id:78, name:"Bill", text:  "ok"},
    {id:876, name:"Stive", text: "ok"},
    {id:1033, name:"Serge", text:"ok"},
    {id:7899, name:"Victor", text:"ok"}
    ]
  }; // -> End of dataObject

  var results = document.getElementById("results");
  results.innerHTML = tmpl("item_tmpl", dataObject);

});

	</script>
	
	<style>
li{
    border-bottom: 1px dotted #CCCCCC;
}
li.odd{
    background: #FFFFEE;    
}
li.even{
    background: #FFFFCC;
}
	</style>
</head>
<body>


<div id="example_j">
<button>Загрузить</button>
<p></p>
</div>
<script>
	$("#example_j button").click(function(){
	$.getJSON("https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5",function(data){
			dataObject = data;
          $.each(data, function(i,item){
          console.log(item.ccy);
		  
          });
        });
             });

</script>
	<ul id="results">
	output results here.
	</ul>
	
------------------------------------------------------------


<script type="text/html" id="item_tmpl">
  <% for(var i=0;i<members.length;i++){%>
	
	<li>№<%=i+1%> <%=members[i].text%></li> 
  
  <% } %>
</script>

</body>
</html>