@font-face {
    font-family: "league_gothicregular";
    src: url('../fonts/leaguegothic/leaguegothiccyrillic-webfont.eot');
    src: url('../fonts/leaguegothic/leaguegothiccyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic/leaguegothiccyrillic-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic/leaguegothiccyrillic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic/leaguegothiccyrillic-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic/leaguegothiccyrillic-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "open_sans_lightregular";
    src: url('../fonts/OpenSansLight/opensanslight-webfont.eot');
    src: url('../fonts/OpenSansLight/opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansLight/opensanslight-webfont.woff2') format('woff2'),
         url('../fonts/OpenSansLight/opensanslight-webfont.woff') format('woff'),
         url('../fonts/OpenSansLight/opensanslight-webfont.ttf') format('truetype'),
         url('../fonts/OpenSansLight/opensanslight-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "open_sans_extraboldregular";
    src: url('../fonts/OpenSansExtraBold/opensansextrabold-webfont.eot');
    src: url('../fonts/OpenSansExtraBold/opensansextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansExtraBold/opensansextrabold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSansExtraBold/opensansextrabold-webfont.woff') format('woff'),
         url('../fonts/OpenSansExtraBold/opensansextrabold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSansExtraBold/opensansextrabold-webfont.svg#open_sans_extraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background:gray;
}

.container {
	width: 960px;
	margin: 0 auto;
}


.testimonial {
	position: relative;
	height: 292px;
	width: 45.5%;
	padding: 32px 45px 20px 38px;
	background: url(../images/quote.png) no-repeat;
	color: #454545;
}

.testimonial__title {
	font: 30px "league_gothicregular", Arial, sans-serif;
	text-transform: uppercase;
}

.testimonial__title span {
	color: #edbfff;
}

.testimonial__text {
	font: 16px/24px "open_sans_lightregular", Arial, sans-serif;
}

.testimonial__text-box {
	overflow: hidden;
}

.testimonial__icon {
	position: absolute;
	top: 23px;
	left: -23px;
	height: 49px;
	width: 49px;
	border-radius: 50%;
}
