body{
background:red;
}

@media screen and (max-width: 980px) {
body{
background:yellow;
}
}

@media screen and (max-width: 650px) {
body{
	background:green;
}	
}

@media screen and (max-width: 480px) {
body{
	background:blue;
}
	}
